$color--brand--primary: #8c271e;
$color--brand--primary--light: #b93327;
$color--brand--primary--dark: #972a20;

$color--brand--secondary: #939597;
$color--brand--secondary--light: #c0c0c1;
$color--brand--secondary--dark: #76797d;

$color--neutral--dark: #3e3e3e;
$color--neutral--medium: #737373;
$color--neutral--light: #a0a0a0;
$color--neutral--lightest: #d0cfcf;

$color--white: #fff;
$color--border: rgba(0, 0, 0, 0.2);

$color--text: #072142;
$color--text--light: #a0a0a0;
