$spacing: (
  s: (
    mobile: 8px,
    tablet: 10px,
    desktop: 12px,
  ),
  m: (
    mobile: 16px,
    tablet: 20px,
    desktop: 24px,
  ),
  l: (
    mobile: 32px,
    tablet: 40px,
    desktop: 48px,
  ),
);
