<header class="c-header o-layout c-line c-line--bottom">
  <span class="c-header__title">Martin Raitza</span>
  <a href="/404.html" class="c-header__cta__text"> Let's talk </a>
  <div class="c-header__cta">
    <div class="c-header__icon__wrapper">
      <div class="c-header__icon">
        <svg class="u-svg-icon">
          <use xlink:href="#basic_message"></use>
        </svg>
      </div>
      <div class="c-header__icon">
        <svg class="u-svg-icon">
          <use xlink:href="#basic_message"></use>
        </svg>
      </div>
      <div class="c-header__icon">
        <svg class="u-svg-icon">
          <use xlink:href="#basic_message"></use>
        </svg>
      </div>
      <div class="c-header__icon">
        <svg class="u-svg-icon">
          <use xlink:href="#basic_message"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
