<header class="c-header o-layout">
  <a href="/404.html" class="c-header__cta__text"> Let's talk </a>
  <div class="c-header__cta">
    <div class="c-header__cta__inner">
      <div class="c-header__icon__wrapper">
        <div class="c-header__icon">
          <svg class="u-svg-icon">
            <use xlink:href="#basic_message"></use>
          </svg>
        </div>
        <div class="c-header__icon">
          <svg class="u-svg-icon">
            <use xlink:href="#basic_message"></use>
          </svg>
        </div>
        <div class="c-header__icon">
          <svg class="u-svg-icon">
            <use xlink:href="#basic_message"></use>
          </svg>
        </div>
        <div class="c-header__icon">
          <svg class="u-svg-icon">
            <use xlink:href="#basic_message"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>
