.c-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq($until: s) {
    background: $color--white;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  @include mq($from: m) {
    justify-content: flex-end;
  }

  &__cta {
    position: fixed;
    height: px-to-rem(56px);
    width: px-to-rem(56px);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    transform: translateX(160px);
    cursor: pointer;
    background: $color--brand--primary;

    @include transition(transform, 1s, 0.6s);

    @include mq($from: s) {
      height: px-to-rem(92px);
      width: px-to-rem(92px);
    }

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent $color--brand--primary transparent transparent;
      position: absolute;
      top: 0;
      z-index: -1;
      left: px-to-rem(-37px);
      border-width: 0 px-to-rem(37px) px-to-rem(56px) 0;

      @include mq($from: s) {
        left: px-to-rem(-60px);
        border-width: 0 px-to-rem(60px) px-to-rem(92px) 0;
      }
    }

    &__inner {
      overflow: hidden;
    }

    &__text {
      opacity: 0;
      padding: px-to-rem(16px) px-to-rem(80px) px-to-rem(16px) px-to-rem(16px);

      @include mq($from: s) {
        padding: px-to-rem(32px) px-to-rem(144px) px-to-rem(32px)
          px-to-rem(16px);
      }
    }
  }

  &__icon {
    position: relative;
    height: px-to-rem(72px);
    top: px-to-rem(16px);

    @include mq($from: s) {
      height: px-to-rem(108px);
      top: px-to-rem(32px);
    }

    svg {
      color: $color--text;
      position: relative;
    }

    &__wrapper {
      position: relative;
      height: 100%;

      &--animation {
        svg {
          &:first-child {
            animation: header-cta-anim-mobile 11s 0s infinite;

            @include mq($from: s) {
              animation: header-cta-anim 11s 0s infinite;
            }
          }
        }
      }
    }
  }
}

.has-dom-ready .c-header {
  &__cta__text {
    opacity: 1;
  }

  &__cta__text {
    @include transition(opacity, 1s, 0.7s);
  }

  &__cta {
    transform: translateX(0);
  }
}

@keyframes header-cta-anim-mobile {
  0% {
    top: 0;
  }
  16% {
    top: px-to-rem(-72px);
  }
  33% {
    top: px-to-rem(-72px);
  }
  50% {
    top: px-to-rem(-144px);
  }
  66% {
    top: px-to-rem(-144px);
  }
  82% {
    top: px-to-rem(-216px);
  }
  100% {
    top: px-to-rem(-216px);
  }
}

@keyframes header-cta-anim {
  0% {
    top: 0;
  }
  16% {
    top: px-to-rem(-108px);
  }
  33% {
    top: px-to-rem(-108px);
  }
  50% {
    top: px-to-rem(-216px);
  }
  66% {
    top: px-to-rem(-216px);
  }
  82% {
    top: px-to-rem(-324px);
  }
  100% {
    top: px-to-rem(-324px);
  }
}
