.c-header {
  position: relative;

  &.c-line--bottom::before {
    @include transition(transform, 1s, 1s);
  }

  .o-layout__col {
    @include susy-use($susy) {
      width: span(6 of 12 narrow);
      margin-right: gutter();
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__title,
  &__cta {
    opacity: 0;
  }

  &__title {
    @include font-family("headline");

    font-size: px-to-rem(20px);

    @include mq($from: m) {
      font-size: px-to-rem(32px);
    }
  }

  &__cta {
    float: right;
  }
}

.has-dom-ready .c-header {
  &__title,
  &__cta {
    opacity: 1;
  }

  &__title {
    @include transition(opacity, 1s, 0.6s);
  }

  &__cta {
    @include transition(opacity, 1s, 0.7s);
  }
}
